# Virtual environment
venv/

# Photos and videos
storage/*
!storage/.gitkeep

# Application logs
logs/*
!logs/.gitkeep

# Yolo models
ml/yolo/models/
ml/yolo26n/models/

# InsightFace data
ml/face/known_faces/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Output from terminal
terminal.txt

# Ignore images from dataset directory
ml/yolo/datasets/mandarin/images